In [1]:
import pandas as pd
import numpy as np

# set the random seed for producibility
np.random.seed(123)

# create a dataframe with 2 classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [3]:
class_0 = pd.DataFrame({
    "feature1":np.random.normal(loc=0,scale=1,size=n_class_0),
    "feature2":np.random.normal(loc=0,scale=1,size=n_class_0),
    "target":[0]*n_class_0
})

class_1 = pd.DataFrame({
    "feature1":np.random.normal(loc=0,scale=1,size=n_class_1),
    "feature2":np.random.normal(loc=0,scale=1,size=n_class_1),
    "target":[1]*n_class_1
})

In [4]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [5]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [6]:
df.tail()

     feature1  feature2  target
995 -0.623629  0.845701       1
996  0.239810 -1.119923       1
997 -0.868240 -0.359297       1
998  0.902006 -1.609695       1
999  0.697490  0.013570       1

In [7]:
df["target"].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [8]:
df_minority = df[df['target']==1]
df_mejority = df[df['target']==0]

## Upsampling

In [9]:
from sklearn.utils import resample

In [10]:
df_minority_upsample = resample(df_minority,replace=True,n_samples=len(df_mejority),random_state=42)

In [11]:
df_minority_upsample.shape

(900, 3)

In [12]:
df_upsampled = pd.concat([df_mejority,df_minority_upsample])

In [13]:
df_upsampled.shape

(1800, 3)

## Downsampling

In [14]:
import pandas as pd
import numpy as np

# set the random seed for producibility
np.random.seed(123)

# create a dataframe with 2 classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [15]:
class_0 = pd.DataFrame({
    "feature1":np.random.normal(loc=0,scale=1,size=n_class_0),
    "feature2":np.random.normal(loc=0,scale=1,size=n_class_0),
    "target":[0]*n_class_0
})

class_1 = pd.DataFrame({
    "feature1":np.random.normal(loc=0,scale=1,size=n_class_1),
    "feature2":np.random.normal(loc=0,scale=1,size=n_class_1),
    "target":[1]*n_class_1
})

In [16]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [17]:
df_minority = df[df['target']==1]
df_mejority = df[df['target']==0]

In [18]:
df_mejority_upsample = resample(df_mejority,replace=False,n_samples=len(df_minority),random_state=42)

In [19]:
df_downsampled = pd.concat([df_mejority_upsample,df_minority]).reset_index(drop=True)

In [20]:
df_downsampled.shape

(200, 3)

In [21]:
df_downsampled.target.value_counts()

target
0    100
1    100
Name: count, dtype: int64