In [ ]:
data.info()

In [ ]:
df_copy["Classes"].value_counts(normalize=True)*100

In [ ]:
#df.isnull().any(axis=1)
# better view is
df[df.isnull().any(axis=1)]

In [ ]:
pd.set_option("display.max_columns",37) #for rows also we can use this method

# ROW OPERATIONS

#### To find the index of particular row

In [ ]:
df.index[df["day"] == "Sidi-Bel Abbes Region Dataset"][0]

#### if you want to print the 1st 5 rows and 2 column

In [ ]:
df.iloc[:5,:2]

#### To print the rows of 3's multiple

In [ ]:
df.iloc[::3]

#### To work with label names

In [ ]:
df.loc[:3,'A']

#### To add value to new columns upto particular row

In [ ]:
df.loc[:122,"Region"] = 0
df.loc[122:,"Region"] = 1

#### To delete all the rows which contains any null values

In [ ]:
df = df.dropna().reset_index(drop=True) # aftr deleting the rows reset index is needed

### To see a particular row in df using index number

In [ ]:
cost2_view.iloc[[2]]

In [ ]:
# to know about that row
cost2_view.iloc[2]

### delete the row using index number

In [ ]:
df = df.drop(122).reset_index(drop=True)

#### To find the sum of elements in a row

In [ ]:
ply_df.iloc[74,ply_df.columns != 'Channel'].sum()

### To highlet a row

In [ ]:
# Define the function to highlight the "Grand Total" row
def highlight_grand_total(row):
    return ['background-color: darkgrey' if row.Brand == "Grand Total" else '' for _ in row]

# Apply the highlighting function
tvc_used_brand_styled = tvc_used_brand.style.apply(highlight_grand_total, axis=1)

# COLUMN OPERATIONS

#### Fix spaces in columns names

In [ ]:
df.columns = df.columns.str.strip()

#### When you have lot of columns and you want to change the datatypes of it

In [ ]:
objects = [features for features in df.columns if df[features] == 'object']
for i in objects :
    df[i] = df[i].astype(int)

#### To rename the column

In [ ]:
df.rename(columns={'old_name1': 'new_name1', 'old_name2': 'new_name2'}, inplace=True)

#### To check if the 2 columns are equal or not

In [ ]:
columns_eql = (tvc_used["TVC Duration"]==tvc_used["FCT"]).all()
print(columns_eql)

In [ ]:
columns_eql = data["Acutal Quantity"]==data["Billed Quantity"]

percentage_equal = columns_eql.mean() * 100

print(f"Percentage of equality: {percentage_equal:.2f}%")

#### Multi_index columns

In [ ]:
columns = pd.MultiIndex.from_arrays([
    ["Channel"]+all_dates,[""]+week_days
])
we can create using tuples etc

In [ ]:
# Get columns that contain only null values
null_columns = df.columns[df.isnull().all()].tolist()

In [ ]:
# Drop columns where all values are null
df_cleaned = df.dropna(axis=1, how='all')

## Encoding the categories in a column

In [ ]:
df_copy["Classes"] = np.where(df_copy["Classes"]=="not fire",0,1)

In [ ]:
# some times "not fire" may be "not fire   ","   not fire" etc.
df_copy["Classes"] = np.where(df_copy["Classes"].str.contains("not fire"),0,1)

In [ ]:
# to get only 5 values for each creation_date in pivot table
result = data_pivot.groupby("creation_date").head(5)

In [ ]:
def agg_func(x):
    title_list = x.value_counts().sort_values(ascending=False)
    return (title_list.index[0], title_list.index[1] if len(title_list) > 1 else None, title_list.index[2] if len(title_list) > 2 else None, title_list.index[3] if len(title_list) > 3 else None, title_list.index[4] if len(title_list) > 4 else None)

data_col = data[["creation_date","title_id"]]
data_pivot = pd.pivot_table(data_col,index=["creation_date"],aggfunc=agg_func)

data_pivot[['book_1', 'book_2', 'book_3', 'book_4', 'book5']] = pd.DataFrame(data_pivot['title_id'].tolist(), index=data_pivot.index)

In [ ]:
# For dataframe
data.isnalL().sum()

In [ ]:
# To check null values for particular column
data_pivot["book_2"].isna().sum()

In [ ]:
data["Outlet_Size"].fillna(data["Outlet_Size"].mode()[0],inplace=True)

In [ ]:
# Get all unique data types in 'col'
# set(...) gives the unique values
unique_dtypes = set(df['col'].apply(lambda x: type(x)))

### To check the different datatypes present in a column

In [ ]:
def types(x) :
    types = type(x)
    return types

In [ ]:
types = set(data["# unique_id"].apply(types))
types

### Find Corelation

In [ ]:
data.cor()

In [ ]:
df["TG0"] = df["   TG"].mask(df["   TG"]==-9999,np.nan)

In [ ]:
df.loc[df["price"]==df["price"].max()]["name"].squeeze()

In [ ]:
df[df["points"]==100]["points"].count()

### data visualization for selected rows

In [ ]:
df[100:1000].plot(x="    DATE",y="TG",figsize=(15,3))

### sns

In [ ]:
# create a grid of scatter plots for  all pairs of featurs,along with histogram
sns.pairplot()

## To save as csv files

In [ ]:
df.to_csv("output.csv",index=False)

## To avoid the Warnings

In [ ]:
import warnings
warnings.filterwarnings('ignore')

## To print entire array

In [ ]:
import sys
np.set_printoptions(threshold = sys.maxsize)

## Pivot Table

In [ ]:
pivot = pd.pivot_table(df, index=['date', 'category'], values='value', aggfunc='sum')

In [ ]:
pivot_table = df.pivot_table(index=['index1', 'index2', 'index3'],
                             values=['value_column', 'sum_column'],
                             aggfunc={'value_column': 'first', 'sum_column': 'sum'}).reset_index()

## To check the percentage of missing values for a column

In [ ]:
df['NumberOfTrips'].isnull().mean()

## To save as document

In [ ]:
 from docx import Document

doc = Document()

cat_features = [feature for feature in clust1.columns if clust1[feature].dtype == 'O']
num_features = [feature for feature in clust1.columns if clust1[feature].dtypes != 'O']
discrete_features=[feature for feature in num_features if len(clust1[feature].unique())<=25]
continuous_features=[feature for feature in num_features if feature not in discrete_features]


doc.add_heading("CLUSTER 1",0)
shape1=clust1.shape
doc.add_paragraph(f"{shape1}")
doc.add_heading("Descriptions of Categorical features",1)

for cat in cat_features :
    doc.add_heading(f"feature {cat}",level=1)
    value_counts = clust1[cat].value_counts()[:15]
    for index,value in value_counts.items() :
        doc.add_paragraph(f"{index} - {value}")
    doc.add_paragraph("\n")


doc.add_heading("Descriptions of Numerical features",1)

for num in discrete_features :
    doc.add_heading(f"feature {num}",level=1)
    value_counts = clust1[num].value_counts()
    for index,value in value_counts.items() :
        doc.add_paragraph(f"{index} - {value}")
    doc.add_paragraph("\n")

for num in continuous_features :
    doc.add_heading(f"feature {num}",level=1)
    describes = clust1[num].describe()
    for index,value in describes.items() :
        doc.add_paragraph(f"{index} - {value}")
    doc.add_paragraph("\n")

doc.save("description_weight2.docx")