In [ ]:
import pandas as pd

## n largest function

The `nlargest` function in pandas is used to return the first `n` rows of a DataFrame or Series ordered by columns in descending order. This function is particularly useful when you want to quickly find the top `n` largest values in a DataFrame or Series.


### Parameters
- `n`: int
  - Number of items to retrieve.
  -Default it is 5
- `keep`: {‘first’, ‘last’, ‘all’}, default ‘first’
  - Where there are duplicate values:
    - `first`: prioritize the first occurrence(s)
    - `last`: prioritize the last occurrence(s)
    - `all`: keep all occurrences

In [ ]:
countries_population = {
    "China": 1409517397,
    "India": 1339180127,
    "USA": 324459463,
    "Indonesia": 263991379,
    "Brazil": 212559417,
    "Pakistan": 220892331,
    "Nigeria": 206139587,
    "Bangladesh": 206139587,
    "Russia": 145171738,
    "Mexico": 128932753,}

s = pd.Series(countries_population)

In [ ]:
s.nlargest()

China        1409517397
India        1339180127
USA           324459463
Indonesia     263991379
Pakistan      220892331
dtype: int64

In [ ]:
s.nlargest(3)

China    1409517397
India    1339180127
USA       324459463
dtype: int64

In [ ]:
s.nlargest(7)

China        1409517397
India        1339180127
USA           324459463
Indonesia     263991379
Pakistan      220892331
Brazil        212559417
Nigeria       206139587
dtype: int64

In [ ]:
s.nlargest(7, keep='last') # interchange of bangladesh and nigeria takes place

China         1409517397
India         1339180127
USA            324459463
Indonesia      263991379
Pakistan       220892331
Brazil         212559417
Bangladesh     206139587
dtype: int64

In [ ]:
# it also includes duplicate values
s.nlargest(7, keep='all')

China         1409517397
India         1339180127
USA            324459463
Indonesia      263991379
Pakistan       220892331
Brazil         212559417
Nigeria        206139587
Bangladesh     206139587
dtype: int64

In [ ]:
s.nlargest(10)

China         1409517397
India         1339180127
USA            324459463
Indonesia      263991379
Pakistan       220892331
Brazil         212559417
Nigeria        206139587
Bangladesh     206139587
Russia         145171738
Mexico         128932753
dtype: int64

## nsmallest

The `nsmallest` function in pandas is used to return the first `n` rows of a DataFrame or Series ordered by columns in ascending order. This function is particularly useful when you want to quickly find the top `n` smallest values in a DataFrame or Series.

### Parameters
- `n`: int
  - Number of items to retrieve.
  - Default is 5
- `keep`: {‘first’, ‘last’, ‘all’}, default ‘first’
  - Where there are duplicate values:
    - `first`: prioritize the first occurrence(s)
    - `last`: prioritize the last occurrence(s)
    - `all`: keep all occurrences

In [ ]:
s.nsmallest()

Mexico        128932753
Russia        145171738
Nigeria       206139587
Bangladesh    206139587
Brazil        212559417
dtype: int64

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=5f404f83-de41-42a0-af9d-afbc4f2e2f7f' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>