# Problem 3

In [ ]:
# for basic operations
import numpy as np
import pandas as pd

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('naukri.csv')
data

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,NaN,ITES,43b19632647068535437c774b6ca6cf8
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,NaN,Marketing,d4c72325e57f89f364812b5ed5a795f0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,c47df6f4cfdf5b46f1fd713ba61b9eba
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,Accounts,115d28f140f694dd1cc61c53d03c66ae
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,a12553fc03bc7bcced8b1bb8963f97b4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,Morgan Stanley Advantage Services Pvt. Ltd.,UG: Any Graduate - Any Specialization,9 - 13 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this Greet...,241116007152,Bengaluru,Quality Assurance - VP with Morgan Stanley Ban...,2.0,Not Disclosed by Recruiter,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - QA & Testing,ef40136e3b0c0abdab695d979a4b7153
21996,Careernet Technologies Pvt Ltd hiring for Client,UG: B.Tech/B.E. - Any Specialization PG:M.Tech...,3 - 5 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Looki...,241116001104,"Bengaluru, Gurgaon",Java Backend Developers for a Product Company,NaN,"8,50,000 - 14,00,000 P.A",2016-11-24 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,acb80b7bb109fa76d22d1f11c6e16c6a
21997,Musk - Startup,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,2 - 4 yrs,Internet / Ecommerce,Job Description Send me Jobs like this Work ...,251116900644,Bengaluru,Full Stack Development Engineer,NaN,Not Disclosed by Recruiter,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,f6f2885a6c87572616fb766029a0d284
21998,Confidential,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,7 - 12 yrs,IT-Software / Software Services,Job Description Send me Jobs like this We ar...,231116901329,"Delhi NCR, Bengaluru",Sr UI Developer/ Technical Lead - Html/ CSS/ J...,NaN,Not Disclosed by Recruiter,2016-11-27 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,c6f6538cb1007dd02c1b4b77909b3d38
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,5 - 10 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,251116003840,Bengaluru,RF Firmware Engineers,NaN,"12,00,000 - 22,00,000 P.A",2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - System Programming,74fec26df6e1c0be0171311a2f03f180

In [ ]:
data['joblocation_address'] = data['joblocation_address'].str.split(',')
data['joblocation_address'].iloc[:5]

0                                            [Chennai]
1                                            [Chennai]
2                                          [Bengaluru]
3    [Mumbai,  Bengaluru,  Kolkata,  Chennai,  Coim...
4                                          [Bengaluru]
Name: joblocation_address, dtype: object

In [ ]:
data = data.explode('joblocation_address')
pd.set_option('display.max_rows', 20000)
data['joblocation_address'].value_counts()

Bengaluru/Bangalore                               3775
Mumbai                                            2593
Bengaluru/Bangalore                               2134
Bengaluru                                         2026
 Mumbai                                           1378
Chennai                                           1290
Hyderabad / Secunderabad                          1246
Hyderabad                                         1154
Mumbai                                            1067
 Mumbai                                            923
 Chennai                                           905
Delhi                                              790
Noida                                              777
Gurgaon                                            762
 Chennai                                           738
 Hyderabad / Secunderabad                          700
Delhi                                              680
 Pune                                              645
 Delhi                                             602
 Gurgaon                                           557
 Hyderabad                                         556
Noida                                              490
 Pune                                              486
 Hyderabad / Secunderabad                          444
Chennai                                            436
 Bengaluru/Bangalore                               425
 Bengaluru                                         415
 Delhi                                             393
Delhi/NCR(National Capital Region)                 388
Delhi/NCR(National Capital Region)                 383
 Bengaluru / Bangalore                             365
 Delhi/NCR(National Capital Region)                353
 Bengaluru / Bangalore                             352
 Noida/Greater Noida                               345
Gurgaon                                            336
 Delhi/NCR(National Capital Region)                314
 Kolkata                                           287
 Bengaluru/Bangalore                               271
Hyderabad / Secunderabad                           258
 Gurgaon                                           254
 Noida                                             242
 Kolkata                                           229
 Ahmedabad                                         195
 Noida                                             172
 Delhi/NCR                                         141
 Delhi NCR                                         121
 Ahmedabad                                         120
 Hyderabad/Secunderabad                            115
 Navi Mumbai                                       114
Ghaziabad                                          102
 Hyderabad/Secunderabad                             95
 Chandigarh                                         94
 Surat                                              90
 Mumbai Suburbs                                     81
 Ernakulam / Kochi/ Cochin                          74
Ahmedabad                                           73
 Coimbatore                                         70
 Chandigarh                                         69
 Jaipur                                             64
 karnataka                                          63
 Coimbatore                                         60
Navi Mumbai                                         57
Delhi NCR                                           55
 Vijayawada                                         51
Pune                                                50
 Bengaluru Bangalore                                49
 Lucknow                                            49
 Indore                                             48
 Jaipur                                             48
 Lucknow                                            47
Bengaluru Bangalore                                 47
 Faridabad                                          47
 maharashtra                                        46
Pune                                                46
 Delhi/NCR                                          46
 Ghaziabad                                          46
 Bhubaneshwar                                       43
 mumbai                                             42
Mumbai Suburbs                                      40
Faridabad                                           40
 Faridabad                                          38
 Visakhapatnam                                      38
 Trivandrum                                         37
 Visakhapatnam/Vizag                                37
 Noida/Greater Noida                                36
Faridabad                                           34
 Visakhapatnam/Vizag                                33
 Mangalore                                          32
 Trivandrum                                         32
 Navi Mumbai                                        31
 Bhubaneshwar                                       31
 Guwahati                                           31
 Ernakulam / Kochi/ Cochin                          30
 Nagpur                                             29
 Raipur                                             28
 Vijayawada                                         28
 Mumbai Suburbs                                     26
 Thane                                              25
 Kochi                                              25
Chandigarh                                          25
 Greater Noida                                      24
 Mangalore                                          24
 Bhopal                                             23
 haryana                                            23
 bangalore                                          23
 Mysore                                             22
Ghaziabad                                           22
 Vadodara/Baroda                                    21
 Cuttack                                            21
 Vadodara                                           21
 delhi                                              20
 Trichy                                             19
                                                    19
 Bhopal                                             19
 Ludhiana                                           18
 Ghaziabad                                          18
Kolkata                                             18
 Vadodara/Baroda                                    17
 Nasik                                              17
 Kanpur                                             17
Ahmedabad                                           16
 Agra                                               16
Thane                                               15
Jaipur                                              15
 Surat                                              15
 Dehradun                                           15
 Patna                                              15
 Kanpur                                             15
 Mysore                                             14
 Dehradun                                           14
 India                                              14
 Other City(s) in Uttar Pradesh                     14
 Hubli                                              14
 Ranchi                                             14
 Bangalore                                          13
 Ranchi                                             13
 Trichy                                             13
 Belgaum                                            12
 Rohtak                                             12
 Madurai                                            12
Patna                                               12
 Nagpur                                             12
 Karnal                                             12
 Ambala                                             12
 Guntur                                             11
 Guntur                                             11
 Salem                                              11
 Greater Noida                                      11
 mumbai                                             11
 Agra                                               11
 Kurukshetra                                        11
Delhi/NCR                                           11
 Vellore                                            11
 Indore                                             10
Visakhapatnam/Vizag                                 10
 Panipat                                            10
 Nasik                                              10
 Hubli                                              10
 Patna                                              10
 Bellary                                             9
 Ooty                                                9
Kolkata                                              9
 noida                                               9
 Mohali                                              9
 Pondicherry                                         8
 Other City(s) in Gujarat                            8
 Jammu                                               8
 Kota                                                8
 Belgaum                                             8
 bangalore                                           8
 Thane                                               8
Kanpur                                               8
 Madurai                                             8
 Nellore                                             8
 Vellore                                             8
 Udaipur                                             8
 gurgaon                                             8
 Dubai/ UAE                                          8
 Ludhiana                                            8
 Dadra & Nagar Haveli / Silvassa                     7
 Cuddalore                                           7
Nagpur                                               7
 Rajkot                                              7
 Pondicherry                                         7
 Tuticorin                                           7
Greater Noida                                        7
 Tirupati                                            7
 Kakinada                                            7
 Varanasi                                            7
 Guwahati                                            7
 Salem                                               7
 Anantapur                                           7
 Haridwar                                            7
Ambala                                               6
 Tirunelveli                                         6
 Aurangabad                                          6
 Haryana Other                                       6
 Karnataka Other                                     6
 Nagercoil                                           6
 Bellary                                             6
 Rajahmundry                                         6
Bhubaneshwar                                         6
 Kurnool                                             6
 Warangal                                            6
 Meerut                                              6
 Tumkur                                              6
 Erode                                               5
 Bhilai/Bhillai                                      5
 Meerut                                              5
 Tirunelveli                                         5
 Visakhapatnam                                       5
 Cochin/ Kochi/ Ernakulam                            5
 Gandhinagar                                         5
Aurangabad                                           5
 Durg                                                5
 Andhrapradesh Other                                 5
 Malaysia                                            5
 kolkata                                             5
 Kozhikode / Calicut                                 5
 Kozhikode                                           5
 Kerala                                              5
 Panjim                                              5
 IN-MH-Greater Mumbai-Mumbai-Voltas C                5
 Davangere                                           5
 Karur                                               5
Indore                                               5
 noida                                               5
 Hisar                                               5
THANE                                                5
 Hyderabad Kolkata                                   4
 Tirupati                                            4
 Rohtak                                              4
 Aurangabad                                          4
 Allahabad                                           4
 Nizamabad                                           4
 Jalandhar                                           4
 pune                                                4
 Kanchipuram                                         4
 Raipur                                              4
 Singapore                                           4
 Vadodara                                            4
 Malappuram                                          4
 United States (U.S)                                 4
Vijayawada                                           4
 United Kingdom (U.K)                                4
 Kota                                                4
Nagpur                                               4
Chennai Bangalore                                    4
 Haryana Other                                       4
 Nellore                                             4
 Hong Kong                                           4
 Singapore                                           4
Coimbatore                                           4
 Tuticorin                                           4
 Mehsana                                             4
 Bharuch                                             4
 United States (U.S)                                 4
 Agartala                                            4
 Dharwad                                             4
 Moradabad                                           4
 Amritsar                                            4
 Haryana                                             4
 Varanasi                                            4
 delhi                                               4
 Anantapur                                           4
Chennai Bangalore                                    4
 hyderabad                                           4
 Bhiwadi                                             4
 Mohali                                              4
 Gwalior                                             4
Mysore                                               4
 Thrissur / Trichur                                  4
 Dadra and Nagar Haveli                              3
 hyderabad                                           3
 Vapi                                                3
 Wayanad                                             3
 Lakshadweep                                         3
 Uttarpradesh Other                                  3
Mysore                                               3
 indore                                              3
 chandigarh                                          3
 Davangere                                           3
 Cuttack                                             3
 Saudi Arabia                                        3
 Hosur                                               3
 Gulbarga                                            3
 Australia                                           3
 Jodhpur                                             3
Ernakulam / Kochi/ Cochin                            3
 IN-MH-Greater Mumbai-Mumbai                         3
 Other City(s) in Andhra Pradesh                     3
 Warangal                                            3
Dehradun                                             3
 Nagercoil                                           3
 Guntakal                                            3
 Wayanad                                             3
 United Kingdom (U.K)                                3
Lucknow                                              3
 Hosur                                               3
 Thanjavur                                           3
 Valsad                                              3
Mumbai Suburbs                                       3
 Manesar                                             3
 Dahej                                               3
Ludhiana                                             3
Indore                                               3
 chennai                                             3
 Bangalore                                           3
 Baddi                                               3
 Kozhikode / Calicut                                 3
 Gandhidham                                          3
 Jodhpur                                             3
 Varanasi / Banaras                                  3
 New Delhi                                           3
Belgaum                                              3
 Japan                                               3
 Kanchipuram                                         3
 Amritsar                                            3
 Dalhousie                                           3
 Thrissur / Trichur                                  3
Kochi                                                3
 Ankleshwar                                          3
 Gulbarga                                            3
 London                                              3
 Vasco Da Gama                                       3
 Ujjain                                              3
 Jamshedpur                                          3
 Sonepat                                             3
 Ambala                                              3
 Gorakhpur                                           3
 Dharwad                                             3
 Doda                                                3
 Kolar                                               3
 Kolkata Bangalore                                   2
Guwahati                                             2
Jaipur                                               2
 Kullu/Manali                                        2
 Bareilly                                            2
 Telangana                                           2
 India                                               2
 Lonavala                                            2
 Other City(s) in Punjab                             2
 punjab                                              2
 Ahmednagar                                          2
 Kolhapur                                            2
 Kakinada                                            2
 Uttaranchal Other                                   2
Hubli                                                2
 Bareilly                                            2
Delhi/NCR                                            2
 Bijnor                                              2
Jamshedpur                                           2
Vadodara                                             2
 PUNE Delhi                                          2
 Maharashtra                                         2
mumbai/pune                                          2
 Bidar                                               2
 Shimoga                                             2
 Mumbai PUNE                                         2
 Rudrapur                                            2
 Cuddapah                                            2
Chandrapur                                           2
 Mathura                                             2

In [ ]:

data['joblocation_address'] = data['joblocation_address'].replace(('(Bengaluru/Bangalore)',' Bangalore',
                                                                ' Bangalore ','Bangalore ','Bengaluru/Bangalore ',
                                                                 ' Bengaluru/Bangalore ',' Bengaluru/Bangalore',
                                                                'Bengaluru/Bangalore','Bengaluru','NCR Bangalore',
                                                                'NCR Bangalore ','Near Bangalore', ' Bengaluru/Bangalore',
                                                                 ' Bengaluru/Bangalore ', ' Bengaluru',
                                                                 'Bangalore , Bangalore / Bangalore',
                                                                 'Bangalore , karnataka',' Bengaluru / Bangalore', 
                                                                 ' Bengaluru / Bangalore ', 'Bengaluru Bangalore',
                                                                 'India-Karnataka-Bangalore',' bangalore',' karnataka',
                                                                ' Bengaluru Bangalore'),
                                                                ('Bangalore','Bangalore','Bangalore','Bangalore','Bangalore',
                                                                'Bangalore','Bangalore','Bangalore','Bangalore','Bangalore',
                                                                'Bangalore','Bangalore','Bangalore','Bangalore','Bangalore',
                                                                 'Bangalore','Bangalore', 'Bangalore','Bangalore','Bangalore',
                                                                'Bangalore','Bangalore','Bangalore','Bangalore',))
                                                                
data['joblocation_address'] = data['joblocation_address'].replace(('Hyderabad / Secunderabad',' Hyderabad / Secunderabad',
                                                                 ' Hyderabad / Secunderabad ','Hyderabad / Secunderabad ',
                                                                ' Hyderabad','Hyderabad ',' Hyderabad ',
                                                                 'Hyderabad/Secunderabad','Hyderabad/Secunderabad ',
                                                                ' Hyderabad/Secunderabad ',' Hyderabad/Secunderabad',),
                                                                ('Hyderabad', 'Hyderabad','Hyderabad','Hyderabad',
                                                                 'Hyderabad', 'Hyderabad','Hyderabad','Hyderabad',
                                                                'Hyderabad','Hyderabad','Hyderabad'))


  
data['joblocation_address'] = data['joblocation_address'].replace(('NAVI MUMBAI',' NAVI MUMBAI','NAVI MUMBAI ',
                                                                 ' NAVI MUMBAI',' NAVI MUMBAI ','Mumbai , Mumbai',
                                                                 ' Mumbai',' Mumbai ','Mumbai ','mumbai','Navi Mumbai',
                                                                ' Navi Mumbai',' Navi Mumbai ','Navi Mumbai ', 
                                                                 ' Mumbai Suburbs','Mumbai Suburbs ','Mumbai Suburbs',
                                                                ' Mumbai Suburbs ','mumbai',' mumbai','mumbai ',
                                                                 ' maharashtra'),
                                                                ('Mumbai','Mumbai','Mumbai','Mumbai','Mumbai','Mumbai',
                                                                 'Mumbai','Mumbai','Mumbai', 'Mumbai','Mumbai','Mumbai',
                                                                'Mumbai','Mumbai','Mumbai','Mumbai','Mumbai','Mumbai','Mumbai',
                                                                'Mumbai','Mumbai', 'Mumbai'))

data['joblocation_address'] = data['joblocation_address'].replace(('Noida','Noida ',' Noida',' Delhi','Delhi','Delhi ',' Delhi ',
                                                                 'Gurgaon',' Gurgaon',' Gurgaon ','Gurgaon ', ' noida',
                                                                 ' Noida/Greater Noida',' Noida ', ' Delhi NCR',
                                                                 'Delhi/NCR(National Capital Region)',' Delhi/NCR ',
                                                                 ' Delhi/NCR(National Capital Region)',
                                                                 ' Delhi/NCR(National Capital Region) ',
                                                                 'Delhi/NCR(National Capital Region) ','Delhi , Delhi',
                                                                 'Noida , Noida/Greater Noida','Ghaziabad',
                                                                 'Delhi/NCR(National Capital Region) , Gurgaon',
                                                                 'NCR , NCR','NCR/NCR(National Capital Region)',
                                                                'NCR , NCR/Greater NCR','NCR/NCR(National Capital Region), NCR',
                                                                 'NCR , NCR/NCR(National Capital Region)',
                                                                 'NCR/NCR(National Capital Region)','NCR/Greater NCR',
                                                                 'NCR/NCR(National Capital Region) , NCR','Delhi/NCR ',
                                                                ' Noida/Greater Noida','Greater Noida',' Greater Noida',
                                                                 ' Greater Noida ','Greater Noida ','Ghaziabad',' Ghaziabad',
                                                                 'Ghaziabad ',' Ghaziabad ','Faridabad','Faridabad ',
                                                                 ' Faridabad',' Faridabad ',' Noida/Greater Noida',
                                                                 ' Noida/Greater Noida ',' delhi',' Delhi/NCR','Delhi NCR'
                                                                ),
                                                                ('NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR',
                                                                'NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR',
                                                                'NCR','NCR','NCR','NCR','NCR','NCR', 'NCR','NCR','NCR','NCR',
                                                                 'NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR',
                                                                 'NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR','NCR',
                                                                'NCR'))


data['joblocation_address'] = data['joblocation_address'].replace(('Chennai ',' Chennai',' Chennai ',' Chennai',
                                                                 'chennai ',' chennai',' chennai ',' chennai',),
                                                                ('Chennai', 'Chennai','Chennai','Chennai','Chennai',
                                                                'Chennai','Chennai','Chennai',))

data['joblocation_address'] = data['joblocation_address'].replace(('Pune ',' Pune',' Pune '),('Pune','Pune','Pune'))
data['joblocation_address'] = data['joblocation_address'].replace(('Kolkata ',' Kolkata',' Kolkata ',
                                                                ' kolkata','kolkata ',' kolkata'),
                                                                ('Kolkata','Kolkata','Kolkata',
                                                                  'Kolkata','Kolkata','Kolkata'))
data['joblocation_address'] = data['joblocation_address'].replace((' Ahmedabad','Ahmedabad ',' Ahmedabad '),('Ahmedabad',
                                                                                         'Ahmedabad','Ahmedabad'))
data['joblocation_address'] = data['joblocation_address'].replace(('Chandigarh ',' Chandigarh',' Chandigarh '),
                                                                ('Chandigarh','Chandigarh','Chandigarh'))
data['joblocation_address'] = data['joblocation_address'].replace(('Surat ',' Surat',' Surat '),
                                                                ('Surat','Surat','Surat'))
data['joblocation_address'] = data['joblocation_address'].replace(('Ernakulam / Kochi/ Cochin ', ' Kochi', 'Kochi ',' Kochi ',
                                                                 ' Cochin/ Kochi/ Ernakulam', ' Cochin/ Kochi/ Ernakulam ', 
                                                                 ' Ernakulam / Kochi/ Cochin',' Ernakulam / Kochi/ Cochin '),
                                                                ('Kochi','Kochi','Kochi','Kochi','Kochi','Kochi','Kochi',
                                                                 'Kochi',))
data['joblocation_address'] = data['joblocation_address'].replace(('Coimbatore ',' Coimbatore',' Coimbatore '),
                                                                ('Coimbatore','Coimbatore','Coimbatore'))
data['joblocation_address'] = data['joblocation_address'].replace(('Coimbatore ',' Coimbatore',' Coimbatore '),
                                                                ('Coimbatore','Coimbatore','Coimbatore'))
data['joblocation_address'] = data['joblocation_address'].replace(('Lucknow ',' Lucknow',' Lucknow '),
                                                                ('Lucknow','Lucknow','Lucknow'))
data['joblocation_address'] = data['joblocation_address'].replace(('Jaipur ',' Jaipur',' Jaipur ','jaipur ',' jaipur',
                                                                 ' jaipur '),
                                                                ('Jaipur','Jaipur','Jaipur','Jaipur','Jaipur','Jaipur'))
data['joblocation_address'] = data['joblocation_address'].replace(('Vijayawada ',' Vijayawada',' Vijayawada '),
                                                                ('Vijayawada','Vijayawada','Vijayawada'))
data['joblocation_address'] = data['joblocation_address'].replace(('Visakhapatnam ',' Visakhapatnam',' Visakhapatnam ',
                                                                'Visakhapatnam/Vizag ',' Visakhapatnam/Vizag',
                                                                 ' Visakhapatnam/Vizag '),
                                                                ('Visakhapatnam','Visakhapatnam','Visakhapatnam',
                                                                 'Visakhapatnam','Visakhapatnam','Visakhapatnam',
                                                                ))

data['joblocation_address'] = data['joblocation_address'].replace((' Bhubaneshwar',' Bhubaneshwar',' Bhubaneshwar '),
                                                                ('Bhubaneshwar','Bhubaneshwar','Bhubaneshwar'))
data['joblocation_address'] = data['joblocation_address'].replace((' Patna',' Patna',' Patna '),
                                                                ('Patna','Patna','Patna'))

data['joblocation_address'] = data['joblocation_address'].replace((' Trivandrum',' Trivandrum',' Trivandrum '),
                                                                ('Trivandrum','Trivandrum','Trivandrum'))

data['joblocation_address'] = data['joblocation_address'].replace((' Mangalore',' Mangalore',' Mangalore '),
                                                                ('Mangalore','Mangalore','Mangalore'))
data['joblocation_address'] = data['joblocation_address'].replace((' Indore',' Indore',' Indore '),
                                                                ('Indore','Indore','Indore'))
data['joblocation_address'] = data['joblocation_address'].replace((' Guwahati',' Guwahati',' Guwahati '),
                                                                ('Guwahati','Guwahati','Guwahati'))
data['joblocation_address'] = data['joblocation_address'].replace((' Nagpur',' Nagpur',' Nagpur '),
                                                                ('Nagpur','Nagpur','Nagpur'))
data['joblocation_address'] = data['joblocation_address'].replace((' Raipur',' Raipur',' Raipur '),
                                                                ('Raipur','Raipur','Raipur'))
data['joblocation_address'] = data['joblocation_address'].replace((' Thane',' Thane',' Thane '),
                                                                ('Thane','Thane','Thane'))
data['joblocation_address'] = data['joblocation_address'].replace((' Bhopal',' Bhopal',' Bhopal '),
                                                                ('Bhopal','Bhopal','Bhopal'))
data['joblocation_address'] = data['joblocation_address'].replace((' Vadodara/Baroda',' Vadodara/Baroda',' Vadodara/Baroda ',
                                                                ' Vadodara','Vadodara ',' Vadodara '),
                                                                ('Vadodara','Vadodara','Vadodara','Vadodara',
                                                                 'Vadodara','Vadodara',))
                                                                                                                                  
pd.set_option('max_rows', 2400)
data['joblocation_address'].value_counts()

Bangalore                                         9963
NCR                                               8668
Mumbai                                            6403
Hyderabad                                         4570
Chennai                                           3373
Pune                                              1227
Kolkata                                            543
Ahmedabad                                          404
Chandigarh                                         189
Kochi                                              140
Coimbatore                                         136
Jaipur                                             131
Visakhapatnam                                      125
Surat                                              106
Lucknow                                            101
Vijayawada                                          84
Bhubaneshwar                                        74
Trivandrum                                          69
Vadodara                                            65
Indore                                              63
Mangalore                                           57
Thane                                               48
Nagpur                                              45
Bhopal                                              42
Guwahati                                            39
Raipur                                              32
Patna                                               26
 haryana                                            23
 Mysore                                             22
 Cuttack                                            21
                                                    19
 Trichy                                             19
 Ludhiana                                           18
 Nasik                                              17
 Kanpur                                             17
 Agra                                               16
 Kanpur                                             15
 Dehradun                                           15
 Ranchi                                             14
 Mysore                                             14
 Other City(s) in Uttar Pradesh                     14
 Dehradun                                           14
 Hubli                                              14
 India                                              14
 Trichy                                             13
 Ranchi                                             13
 Rohtak                                             12
 Belgaum                                            12
 Madurai                                            12
 Karnal                                             12
 Ambala                                             12
Patna                                               12
 Agra                                               11
 Kurukshetra                                        11
 mumbai                                             11
 Guntur                                             11
 Guntur                                             11
 Vellore                                            11
 Salem                                              11
 Nasik                                              10
 Panipat                                            10
 Hubli                                              10
 Ooty                                                9
 Bellary                                             9
 Mohali                                              9
 Jammu                                               8
 Kota                                                8
 Udaipur                                             8
Kanpur                                               8
 Pondicherry                                         8
 Nellore                                             8
 bangalore                                           8
 Madurai                                             8
 Belgaum                                             8
 Dubai/ UAE                                          8
 Vellore                                             8
 Other City(s) in Gujarat                            8
 Ludhiana                                            8
 gurgaon                                             8
 Tuticorin                                           7
 Kakinada                                            7
 Varanasi                                            7
Nagpur                                               7
 Salem                                               7
 Tirupati                                            7
 Haridwar                                            7
 Anantapur                                           7
 Pondicherry                                         7
 Dadra & Nagar Haveli / Silvassa                     7
 Cuddalore                                           7
 Rajkot                                              7
 Kurnool                                             6
Bhubaneshwar                                         6
 Bellary                                             6
 Rajahmundry                                         6
 Karnataka Other                                     6
 Aurangabad                                          6
 Meerut                                              6
Ambala                                               6
 Tirunelveli                                         6
 Haryana Other                                       6
 Tumkur                                              6
 Nagercoil                                           6
 Warangal                                            6
 kolkata                                             5
 Kozhikode / Calicut                                 5
 Kerala                                              5
 Hisar                                               5
 noida                                               5
 Erode                                               5
 IN-MH-Greater Mumbai-Mumbai-Voltas C                5
 Andhrapradesh Other                                 5
 Durg                                                5
 Davangere                                           5
 Malaysia                                            5
 Bhilai/Bhillai                                      5
 Panjim                                              5
Aurangabad                                           5
 Tirunelveli                                         5
 Meerut                                              5
 Gandhinagar                                         5
 Kozhikode                                           5
THANE                                                5
 Karur                                               5
 Aurangabad                                          4
Chennai Bangalore                                    4
Mysore                                               4
 Hong Kong                                           4
 Jalandhar                                           4
Chennai Bangalore                                    4
 Nizamabad                                           4
 Mohali                                              4
 Nellore                                             4
 United Kingdom (U.K)                                4
 Dharwad                                             4
 Rohtak                                              4
 Bharuch                                             4
 United States (U.S)                                 4
 Singapore                                           4
 Haryana Other                                       4
 Gwalior                                             4
 Kota                                                4
 Singapore                                           4
 Malappuram                                          4
 Mehsana                                             4
 Allahabad                                           4
 Haryana                                             4
 Tirupati                                            4
 Amritsar                                            4
 Varanasi                                            4
 Hyderabad Kolkata                                   4
 Kanchipuram                                         4
 Agartala                                            4
 Tuticorin                                           4
 pune                                                4
 hyderabad                                           4
 United States (U.S)                                 4
 Bhiwadi                                             4
 Moradabad                                           4
 Anantapur                                           4
 Thrissur / Trichur                                  4
 delhi                                               4
 Guntakal                                            3
 Kolar                                               3
 Warangal                                            3
 Sonepat                                             3
 Jodhpur                                             3
 Gorakhpur                                           3
 Valsad                                              3
 Gulbarga                                            3
 Wayanad                                             3
 Dharwad                                             3
 Japan                                               3
 Kanchipuram                                         3
 Baddi                                               3
 IN-MH-Greater Mumbai-Mumbai                         3
 Gulbarga                                            3
 Amritsar                                            3
 Doda                                                3
 Jodhpur                                             3
 London                                              3
Indore                                               3
Dehradun                                             3
 Dahej                                               3
 Manesar                                             3
 Ujjain                                              3
 Vasco Da Gama                                       3
 Dalhousie                                           3
 Varanasi / Banaras                                  3
 Thrissur / Trichur                                  3
 indore                                              3
 Gandhidham                                          3
 Vapi                                                3
 New Delhi                                           3
 Uttarpradesh Other                                  3
 Wayanad                                             3
 Davangere                                           3
 chandigarh                                          3
 Ankleshwar                                          3
 Ambala                                              3
 Dadra and Nagar Haveli                              3
 Australia                                           3
 Cuttack                                             3
Belgaum                                              3
 Other City(s) in Andhra Pradesh                     3
 Hosur                                               3
 Nagercoil                                           3
Ludhiana                                             3
 Jamshedpur                                          3
 hyderabad                                           3
 Kozhikode / Calicut                                 3
 Hosur                                               3
 United Kingdom (U.K)                                3
 Lakshadweep                                         3
Mysore                                               3
 Saudi Arabia                                        3
 Thanjavur                                           3
 Goa Other                                           2
 Jamnagar                                            2
 Daman & Diu                                         2
 Shimoga                                             2
 Rourkela                                            2
 Bhillai                                             2
 Anand                                               2
 Dharmasala                                          2
 India - Bangalore                                   2
 Rourkela                                            2
Amritsar                                             2
 Other City(s) in Har                                2
 Srinagar                                            2
 Karnal                                              2
 Dhanbad                                             2
Chennai Mumbai                                       2
Delhi/NCR                                            2
 Solapur                                             2
Vadodara/Baroda                                      2
 Other City(s) in Maharashtra                        2
 Thrissur                                            2
 Haryana                                             2
 MP                                                  2
Guwahati                                             2
 Baddi                                               2
 India                                               2
 Gujarat                                             2
 Hyderabad Kolkata                                   2
 Maharashtra                                         2
 Ahmednagar                                          2
 Rudrapur                                            2
 Bareilly                                            2
 Agartala                                            2
 Palakkad                                            2
 Mumbai PUNE                                         2
 Aligarh                                             2
 Haldwani                                            2
 banda                                               2
 Mysoru / Mysore                                     2
 Goregaon (E)                                        2
 Punjab                                              2
 Rajahmundry                                         2
Panjim/Panaji                                        2
 Andhra Pradesh                                      2
 Karimnagar                                          2
 Bijnor                                              2
Guntur                                               2
 Kolhapur                                            2
 Mathura                                             2
Nellore                                              2
Chennai Mumbai                                       2
 Other City(s) in Punjab                             2
 Shimoga                                             2
 Panjim/Panaji                                       2
 Cuddapah                                            2
 Telangana                                           2
Chandrapur                                           2
 Cuddalore                                           2
 Bareilly                                            2
Jamshedpur                                           2
 IN-HR-Gurgaon                                       2
mumbai/pune                                          2
 Maharashtra                                         2
 PUNE Delhi                                          2
Hubli                                                2
 Kullu/Manali                                        2
 Kurnool                                             2
 Vasco Da Gama                                       2
 Qatar                                               2
 Lonavala                                            2
 Khammam                                             2
 Uttaranchal Other                                   2
 Kakinada                                            2
 Kolkata Bangalore                                   2
 Mumbai PUNE                                         2
 khurja                                              2
 Vasai                                               2
 Daman & Diu                                         2
Sambalpur                                            2
 Bangalore Kolkata                                   2
 Allahabad                                           2
Mehsana                                              2
 Faizabad                                            2
 Vapi                                                2
 punjab                                              2
 Panjim/Panaji                                       2
 Rajkot                                              2
 Jamshedpur                                          2
 Bangalore Hyderabad                                 2
 Other City(s) in Jammu & Kashmir                    2
 lucknow                                             2
PANVEL                                               2
 Kuwait                                              2
 Saudi Arabia                                        2
 Erode                                               2
 MP                                                  2
 Kashipur                                            2
 Karnataka                                           2
 Coimbatore Mumbai                                   2
 Other City(s) in Kerala                             2
 Saharanpur                                          2
 IN-IN                                               2
 Other City(s) in Andhra Pradesh                     2
 IN-DL-New Delhi                                     2
 Gujarat                                             2
 Bidar                                               2
 Other City(s) in Chhattisgarh                       2
 Thane(Turbhe)                                       1
 Muzaffarpur                                         1
 Other City(s) in Uttar Pradesh                      1
Manesar                                              1
Mangalore                                            1
 Faizabad                                            1
 Chennai Mumbai                                      1
Delhi Bangalore                                      1
 Ganganagar                                          1
Jodhpur                                              1
Rajahmundry                                          1
 Kalpakkam                                           1
 Manali Nagpur                                       1
 Manesar                                             1
 Mandi                                               1
 IN-MH-Mumbai-Prism Towers / 31002                   1
Agra                                                 1
 MULUND                                              1
 Asansol                                             1
Karur                                                1
 Other City(s) in Kerala                             1
 Tirupati Vellore                                    1
 Thanjavur                                           1
Chennai Vijayawada                                   1
 Panaji Patna                                        1
 GOREGOAN                                            1
 Germany                                             1
 Pune (Swarga                                        1
 Hospet                                              1
Trichy                                               1
 Bokaro                                              1
Bangalore Kolkata                                    1
 Palakkad / Palghat                                  1
 Cochin                                              1
Rourkela                                             1
 Raigarh                                             1
 Madhyapradesh Other                                 1
Mathura Mountabu                                     1
 Ganganagar                                          1

In [ ]:
data = data[data['joblocation_address'] != '']

In [ ]:
pd.set_option('max_rows', 2400)
data['joblocation_address'].value_counts()

Bangalore                                         9963
NCR                                               8668
Mumbai                                            6403
Hyderabad                                         4570
Chennai                                           3373
Pune                                              1227
Kolkata                                            543
Ahmedabad                                          404
Chandigarh                                         189
Kochi                                              140
Coimbatore                                         136
Jaipur                                             131
Visakhapatnam                                      125
Surat                                              106
Lucknow                                            101
Vijayawada                                          84
Bhubaneshwar                                        74
Trivandrum                                          69
Vadodara                                            65
Indore                                              63
Mangalore                                           57
Thane                                               48
Nagpur                                              45
Bhopal                                              42
Guwahati                                            39
Raipur                                              32
Patna                                               26
 haryana                                            23
 Mysore                                             22
 Cuttack                                            21
 Trichy                                             19
 Ludhiana                                           18
 Kanpur                                             17
 Nasik                                              17
 Agra                                               16
 Dehradun                                           15
 Kanpur                                             15
 Ranchi                                             14
 Hubli                                              14
 India                                              14
 Mysore                                             14
 Dehradun                                           14
 Other City(s) in Uttar Pradesh                     14
 Trichy                                             13
 Ranchi                                             13
 Karnal                                             12
 Ambala                                             12
 Belgaum                                            12
 Rohtak                                             12
 Madurai                                            12
Patna                                               12
 Guntur                                             11
 Kurukshetra                                        11
 Vellore                                            11
 mumbai                                             11
 Guntur                                             11
 Salem                                              11
 Agra                                               11
 Hubli                                              10
 Nasik                                              10
 Panipat                                            10
 Mohali                                              9
 Ooty                                                9
 Bellary                                             9
 Nellore                                             8
 Kota                                                8
 Dubai/ UAE                                          8
 Jammu                                               8
 gurgaon                                             8
 Ludhiana                                            8
 Madurai                                             8
 Belgaum                                             8
 Udaipur                                             8
 Vellore                                             8
Kanpur                                               8
 bangalore                                           8
 Other City(s) in Gujarat                            8
 Pondicherry                                         8
 Cuddalore                                           7
 Kakinada                                            7
 Tirupati                                            7
 Rajkot                                              7
 Anantapur                                           7
 Pondicherry                                         7
 Salem                                               7
 Haridwar                                            7
 Varanasi                                            7
 Dadra & Nagar Haveli / Silvassa                     7
 Tuticorin                                           7
Nagpur                                               7
Ambala                                               6
 Tumkur                                              6
 Warangal                                            6
 Meerut                                              6
 Nagercoil                                           6
 Aurangabad                                          6
 Karnataka Other                                     6
 Bellary                                             6
 Rajahmundry                                         6
 Tirunelveli                                         6
 Kurnool                                             6
Bhubaneshwar                                         6
 Haryana Other                                       6
 Tirunelveli                                         5
 Panjim                                              5
 Meerut                                              5
THANE                                                5
 IN-MH-Greater Mumbai-Mumbai-Voltas C                5
 kolkata                                             5
 Davangere                                           5
 noida                                               5
 Kerala                                              5
 Kozhikode / Calicut                                 5
 Gandhinagar                                         5
Aurangabad                                           5
 Erode                                               5
 Bhilai/Bhillai                                      5
 Karur                                               5
 Malaysia                                            5
 Durg                                                5
 Kozhikode                                           5
 Andhrapradesh Other                                 5
 Hisar                                               5
 Kanchipuram                                         4
 Tuticorin                                           4
 Bharuch                                             4
 Malappuram                                          4
 pune                                                4
 Varanasi                                            4
 Haryana Other                                       4
 Tirupati                                            4
Mysore                                               4
 Nellore                                             4
 Jalandhar                                           4
 Nizamabad                                           4
 Kota                                                4
 Aurangabad                                          4
 United States (U.S)                                 4
Chennai Bangalore                                    4
 Hong Kong                                           4
 Mehsana                                             4
 Singapore                                           4
 United Kingdom (U.K)                                4
 Hyderabad Kolkata                                   4
 Allahabad                                           4
 Singapore                                           4
 United States (U.S)                                 4
 Anantapur                                           4
 Haryana                                             4
 Gwalior                                             4
 Thrissur / Trichur                                  4
 Amritsar                                            4
 Agartala                                            4
 Mohali                                              4
 Bhiwadi                                             4
 Rohtak                                              4
 Moradabad                                           4
Chennai Bangalore                                    4
 delhi                                               4
 hyderabad                                           4
 Dharwad                                             4
 Kolar                                               3
 Dalhousie                                           3
 Davangere                                           3
 Vasco Da Gama                                       3
 Ankleshwar                                          3
 New Delhi                                           3
 indore                                              3
Mysore                                               3
 Lakshadweep                                         3
 chandigarh                                          3
 hyderabad                                           3
 Hosur                                               3
 Amritsar                                            3
 Other City(s) in Andhra Pradesh                     3
 Wayanad                                             3
 Wayanad                                             3
 Nagercoil                                           3
 Hosur                                               3
 London                                              3
 Gulbarga                                            3
 Vapi                                                3
 Dadra and Nagar Haveli                              3
 Warangal                                            3
 Jodhpur                                             3
 Kanchipuram                                         3
 Gandhidham                                          3
 Baddi                                               3
 Cuttack                                             3
 Varanasi / Banaras                                  3
 Dharwad                                             3
 Manesar                                             3
 IN-MH-Greater Mumbai-Mumbai                         3
 Gulbarga                                            3
 Australia                                           3
 Japan                                               3
 Guntakal                                            3
 Valsad                                              3
 Jodhpur                                             3
 Saudi Arabia                                        3
 Kozhikode / Calicut                                 3
 Uttarpradesh Other                                  3
 Jamshedpur                                          3
Belgaum                                              3
Ludhiana                                             3
 Gorakhpur                                           3
 Ujjain                                              3
 Thanjavur                                           3
Dehradun                                             3
 Dahej                                               3
 Thrissur / Trichur                                  3
 Sonepat                                             3
Indore                                               3
 United Kingdom (U.K)                                3
 Doda                                                3
 Ambala                                              3
 Kullu/Manali                                        2
 Lonavala                                            2
 Rajahmundry                                         2
Vadodara/Baroda                                      2
Hubli                                                2
Guwahati                                             2
 Cuddalore                                           2
Panjim/Panaji                                        2
 Shimoga                                             2
 Panjim/Panaji                                       2
 Saudi Arabia                                        2
 Telangana                                           2
 Haryana                                             2
 Bijnor                                              2
 Mathura                                             2
 Coimbatore Mumbai                                   2
 India                                               2
 Shimoga                                             2
 Ahmednagar                                          2
 MP                                                  2
 Andhra Pradesh                                      2
 Other City(s) in Maharashtra                        2
mumbai/pune                                          2
 Maharashtra                                         2
 PUNE Delhi                                          2
 punjab                                              2
 Bidar                                               2
 Punjab                                              2
Chandrapur                                           2
 Mysoru / Mysore                                     2
 Qatar                                               2
 banda                                               2
 Khammam                                             2
 Uttaranchal Other                                   2
 Kakinada                                            2
 Karimnagar                                          2
 Jamshedpur                                          2
 Bhillai                                             2
 Bangalore Kolkata                                   2
 Dhanbad                                             2
 Bareilly                                            2
Delhi/NCR                                            2
 Mumbai PUNE                                         2
 Goa Other                                           2
 Daman & Diu                                         2
 Other City(s) in Punjab                             2
 Goregaon (E)                                        2
Nellore                                              2
 Anand                                               2
 Dharmasala                                          2
 India - Bangalore                                   2
 Rourkela                                            2
 Other City(s) in Har                                2
Guntur                                               2
 Kolhapur                                            2
 Haldwani                                            2
 Daman & Diu                                         2
Mehsana                                              2
 Karnataka                                           2
 MP                                                  2
 Baddi                                               2
 Palakkad                                            2
Chennai Mumbai                                       2
 Saharanpur                                          2
 Allahabad                                           2
 Thrissur                                            2
 Kashipur                                            2
 Bangalore Hyderabad                                 2
 Cuddapah                                            2
Amritsar                                             2
 Rudrapur                                            2
 lucknow                                             2
 Aligarh                                             2
 Other City(s) in Andhra Pradesh                     2
 IN-IN                                               2
 IN-DL-New Delhi                                     2
 Vapi                                                2
 Hyderabad Kolkata                                   2
 Srinagar                                            2
 Other City(s) in Kerala                             2
 khurja                                              2
 Maharashtra                                         2
 IN-HR-Gurgaon                                       2
Jamshedpur                                           2
 Faizabad                                            2
 Mumbai PUNE                                         2
 Other City(s) in Chhattisgarh                       2
 Solapur                                             2
 Vasai                                               2
Sambalpur                                            2
 Jamnagar                                            2
 Rajkot                                              2
 Gujarat                                             2
 Rourkela                                            2
 Kuwait                                              2
 Agartala                                            2
PANVEL                                               2
 Other City(s) in Jammu & Kashmir                    2
 Karnal                                              2
 Gujarat                                             2
 Vasco Da Gama                                       2
 Panjim/Panaji                                       2
Chennai Mumbai                                       2
 Kolkata Bangalore                                   2
 Erode                                               2
 Bareilly                                            2
 Kurnool                                             2
 Cochin                                              1
 palghar                                             1
Itanagar                                             1
Rourkela                                             1
 Kolkata Hyderabad                                   1
 Palakkad / Palghat                                  1
Bangalore Kolkata                                    1
 Overseas                                            1
 Germany                                             1
Agartala                                             1
 India-Bangalore                                     1
 Australia                                           1
 INDIA - Noida                                       1
 Bokaro                                              1
 Madhyapradesh Other                                 1
 Dibrugarh                                           1
 Kadapa Kakinada                                     1
 Chennai Kolkata                                     1
Anantapur                                            1
 Vikhroli                                            1
 Bidar                                               1
Silchar                                              1
Salem                                                1
 Tirupathi Anantapur                                 1
 Alaska                                              1
 Bikaner                                             1
 Other City(s) in Maharasht                          1
 Gandhinagar                                         1
 Adilabad                                            1
 Udupi                                               1
 Hyderabad PUNE                                      1
 Trivandrum Cochin                                   1
 Alappuzha / Alleppey                                1
 Thiruvananthapuram                                  1
 Ganganagar                                          1
 Sonepat                                             1
Mathura                                              1
 India - Mumbai                                      1
 seoni                                               1
 India; Gurgaon                                      1

counts is presumably a Series where the index represents unique job locations and the values represent the number of occurrences of each location.
counts >= 25 creates a boolean Series where the condition is checked for each element in counts.
counts.index[counts >= 25] then selects the indices of counts where this condition is True, resulting in an Index object containing job locations that appear at least 25 times.

In [ ]:
counts = data['joblocation_address'].value_counts()
data = data.loc[data['joblocation_address'].isin(counts.index[counts>=25])]
data['joblocation_address'].value_counts()

Bangalore        9963
NCR              8668
Mumbai           6403
Hyderabad        4570
Chennai          3373
Pune             1227
Kolkata           543
Ahmedabad         404
Chandigarh        189
Kochi             140
Coimbatore        136
Jaipur            131
Visakhapatnam     125
Surat             106
Lucknow           101
Vijayawada         84
Bhubaneshwar       74
Trivandrum         69
Vadodara           65
Indore             63
Mangalore          57
Thane              48
Nagpur             45
Bhopal             42
Guwahati           39
Raipur             32
Patna              26
Name: joblocation_address, dtype: int64

In [ ]:
# Convert 'experience' column to string first to avoid TypeError

data['experience'] = data['experience'].astype('str')
data['experience'] = data['experience'].str.split(' ')
data['min_experience'] = data['experience'].apply(lambda x: x[0])
data['max_experience'] = data['experience'].apply(lambda x: x[2] if len(x) > 2 else x[1])

In [ ]:
data['min_experience'].value_counts()

2      7301
0      6340
3      5343
1      4490
5      3329
4      3135
6      1530
10     1430
8      1292
7      1048
9       486
12      315
15      285
Not     111
11       75
13       74
14       63
20       26
18       25
16       16
17        6
26        1
23        1
25        1
Name: min_experience, dtype: int64

In [ ]:
data['max_experience'].value_counts()

5            6458
7            4494
8            3740
6            3303
3            3233
10           2860
4            2664
9            1815
2            1597
12           1085
1            1064
11           1059
15            834
13            682
20            501
0             358
14            251
18            134
Mentioned     111
16            109
17             94
22             85
25             85
19             27
23             26
24             20
21             12
30             11
28              8
26              1
-1              1
27              1
Name: max_experience, dtype: int64

In [ ]:
data['min_experience'] = data['min_experience'].replace('Not',0)
data['max_experience'] = data['max_experience'].replace(('Mentioned','-1'), (5,5))

# lets convert thenm into numerical data types
data['min_experience'] = data['min_experience'].astype('int')
data['max_experience'] = data['max_experience'].astype('int')

In [ ]:
data['education'][:5]

0    UG: B.Tech/B.E. - Any Specialization PG:Any Po...
1    UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...
2    UG: Any Graduate - Any Specialization PG:Any P...
3    UG: Any Graduate - Any Specialization PG:CA Do...
3    UG: Any Graduate - Any Specialization PG:CA Do...
Name: education, dtype: object

In [ ]:
data['education'].isnull().sum()

3132

In [ ]:
data['education'] = data['education'].fillna(data['education'].mode()[0])
data['education'].isnull().sum()

0

In [ ]:
data['Education'] = data['education'].str.split(' ')
data['Education'] = data['Education'].apply(lambda x: x[1] if len(x) > 1 else x[0])

data['Education'].value_counts(dropna = False)

NameError: name 'data' is not defined

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=735df63f-eaf2-46ab-a8a5-7617b63b3308' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>